name: CI_to_DockerHub

on:
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  # TODO: Change variable to your image's name.
  # IMAGE_NAME: centos-vnc-xfce:${GITHUB_REF:8}
  # IMAGE_NAME: ${{ steps.docker.outputs.IMAGE_SHA_NAME }}
  IMAGE_NAME: centos-vnc-xfce
  IMAGE_TAG: $(echo ${GITHUB_SHA} | cut -c1-8)
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: list envs
        run: |
          echo IMAGE_NAME = $IMAGE_NAME
          echo IMAGE_TAG  = $IMAGE_TAG

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: docker build . --file Dockerfile --tag $IMAGE_NAME
        
      - name: Push image
        run: |
          IMAGE_ID=${{ secrets.DOCKERHUB_ORGANIZATION }}/${IMAGE_NAME}
          
          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          
          echo IMAGE_ID=$IMAGE_ID
          
          docker tag $IMAGE_NAME $IMAGE_ID:$IMAGE_TAG
          docker push $IMAGE_ID:$IMAGE_TAG
          
          docker tag $IMAGE_NAME $IMAGE_ID:latest
          docker push $IMAGE_ID:latest
